.Destination {
  background-color: rgb(234, 246, 250);
}

h3 {
  color: black;
  font-weight: bold;
  display: relative;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  align-content: baseline;
  margin: 0 auto;
  padding: 0 auto;
}

#desPrice  {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 25px;
  padding: 0 auto;
}

#desItems {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
  margin-right: 0;
  margin-left: 0;
  padding: 0 auto;
}

.desCard {
  width: 245px;
  height: auto;
}

