.popHeader {
  color: black;
  font-weight: bold;
}

#desItems {
  background-color: transparent;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
  margin-right: 0;
  margin-left: 0;
  padding: 0 auto;
}

.desCard {
  width: 245px;
  height: auto;
}