.favorite {
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
  height: auto;
}

.md-card {
  width: 350px;
  margin: 8px;
  /* padding: 0 auto; */
  display: inline-block;
  vertical-align: top;
}