.Profile, body {
  background-color: rgb(234, 246, 250);
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
}

#userInfo {
  float: left;
  width: 20%;
  height: auto;
  margin: 25px;
  padding: 0 auto;

}

#navInfo {
  float: right;
  width: 83%;
  height: auto;
  /* margin: 25px;
  padding: 0 auto; */
}