.Profile, body {
  background-color: rgb(234, 246, 250);
}


/* 
.everything {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
} */


#tabs-container {
  display: flex;
  /* align-items: baseline; */
  align-content: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 25px;
  padding: 0 auto;
}

#userInfo {
  /* float: left;
  width: 348px;
  height: auto;
  margin: 25px;
  padding: 0 auto;  */
  display: flex;
  align-items: baseline;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 25px;
  padding: 0 auto;
}

#favActivitiesInfo {
  /* background-color: rgb(234, 246, 250); */
  display: flex;
  /* align-items: baseline;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap; */
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 25px;
  padding: 0 auto;
  /* float: right;
  width: 100%;
  height: auto; 
  margin: 25px;
  padding: 0 auto; */
}

#tab-home {
  /* background-color: rgb(234, 246, 250); */
}
/* 
div.md-tabs {
  border: solid rgb(234, 246, 250) 5px;
  background-color: rgba(250, 250, 132, 0.822);
} */

button.md-button {
  color: black;
  font-weight: bold;
}